/*=====================================
    Author: Jason Rodgers
    ONE-PAGE WEBSITE
=======================================
    GENERIC STYLES
=======================================*/
html {
    font-family:  sans-serif, Arial;
    font-size: 12;
    background-color: rgb(224, 195, 250);
}

body {
    opacity: 1;
    transition: 2s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.reservation input[type="text"] {
    width: 50%;
    margin: 10px auto;
    border: 1px solid rgb(48, 65, 133);
    border-radius: 5px;
}

h1 {
    margin: none;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color:  rgb(132, 55, 132);;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.center-movie {
    display: block;
    margin: auto;
}

/*=======================================
    NAV STYLES
=======================================*/
.menu {
    color: rgb(83, 44, 144);
    font: bold 15px/18px sans-serif;
    justify-content: center;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.menu li {
    color: #000;
    background-color: rgba(255, 255, 255, .5);
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 8px 4%;
    border: 1px solid #9d9fa2;
    box-shadow: 2px 2px 10px 0 rgba(77, 76, 76, 0.5);
    border-radius: 3px;
    /*background-color: #052136;*/
    cursor: pointer;
    transition-property: background;
    transition-duration: .2s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
}

.menu li:hover {
    color: rgb(198, 94, 175);
    background-color: rgba(100,65,0,.3);
    text-decoration: none;
}

.wrap {
    width: 100%;
    /* This ensures that the images cannot
    render outside of their container
    without forcing any scrollbars*/
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

.menu-container {
    /* top: 0;
    left: 0; */ 
    /* position absolute*/ /*To the top edge of the screen*/
    width: 100%;
    position: fixed;
    z-index: 100;
    /*background-color: rgba(255, 255, 255, 0.5);*/
}


a:link { text-decoration: none; color: rgb(132, 55, 132);}

a:visited { text-decoration: none; color: rgb(132, 55, 132);}

a:hover { text-decoration: none; color: rgb(132, 55, 132);}

a:active { text-decoration: none; color: rgb(132, 55, 132);}

/*=======================================
    HOME STYLES
=======================================*/

.text-center {
    text-align: center;
}

.heading-padding {
    padding-bottom: 10px;
    padding-top: 40px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.head-main {
    text-shadow: 2px 4px 5px rgba(77, 76, 76, 0.5);
    color: #fff;
    letter-spacing: 5pt;
    word-spacing: 15pt;
    font-size: 12;
    font-family: sans-serif;
    line-height: 4;
    font-weight: 900;
    border: none;
    padding: 3px;
}

/* Lightbox code */

.row > .column {
    left: 0px;
    padding: 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create 9 equal columns that floats next to eachother */
.column {
    float: left;
    width: 23%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/4 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.thumbs {
    opacity: 0.6;
}

.active,
.thumbs:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}